/* write your override styles here */
#wall .tag-1 {
  display: none;
}

body div #tag2{
  display: none;
}

body div #tag3{
  display: none;
}

body div .parent #tag-4{
  display: none;
}

body div .parent #tag-5{
  display: none;
}

body div .parent div #tag-6{
  display: none;
}

body div .parent div #tag-7{
  display: none;
}